<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>  
        <rewrite>
            <rules>                
                <rule name="Rewrite to index.html">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>   
                    <action type="Rewrite" url="index.html" />   
                </rule>
            </rules>
        </rewrite>   
	<staticContent>
      		<remove fileExtension=".woff2" />
      		<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    	</staticContent>     
    </system.webServer>        
</configuration>