p.codeEditorSystemMessage {
    padding: 3px;
    text-align: center;
    background-color: #272822;
    color: #FF3333;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    height: 25px;
    margin: 0;
}