span.clickable {
    cursor: pointer; cursor: hand;
}

span.clickable:hover {
    cursor: pointer; cursor: hand;
    border-radius: 4px;
    background-color: #B2EBF2;
}

span.clickable:active {
    cursor: pointer; cursor: hand;
    border-radius: 4px;
    background-color: #80DEEA;
}

span.highlighted {
    background-color: #fff176;
}