.metaShortName {
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    font-weight: 600;
}

.searchResultRowCardHeaderSubTitle {
    color: #9E9E9E;
    font-size: 12px;
}

.resultAvatar:hover {    
    cursor: pointer !important;
    filter: brightness(1.1);
}

.resultAvatar:active {
    filter: brightness(1.2);
}

div.spanHighlighted {
    border-radius: 4px;
    background-color: #fff176;
    font-size: 12px;
    color: #707070;
    margin-right: 3px;
}

